/* General */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #000;
}
