@font-face {
    font-family: 'AG-Md';
    src: url('/fonts/berthold_akzidenz_grotesk_be_medium-webfont.eot');
    src: url('/fonts/berthold_akzidenz_grotesk_be_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/berthold_akzidenz_grotesk_be_medium-webfont.woff') format('woff'),
         url('/fonts/berthold_akzidenz_grotesk_be_medium-webfont.ttf') format('truetype'),
         url('/fonts/berthold_akzidenz_grotesk_be_medium-webfont.svg#berthold_akzidenz_grotesk_bMd') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'AG-Md', helvetica, arial, sans-serif;
    font-size: 20px;
    letter-spacing: .2px;
}

body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #000;
}

body {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

iframe[src*=youtube],
iframe[src*=vimeo] {
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#header-title {
  margin: .75rem;
  text-transform: uppercase;
  height: 1rem;
}

.about-wrapper {
  padding-top: 2.5rem;
}

.about .col-75 {
  width: 75%;
}

.about.active {
  z-index: 9;
}

.about {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  background-color:white;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
